*{
  
}

.search-bar {
  width: 100%
}

.navbar {
  background-color: royalblue;
  font-family: 'PRIMETIME', sans-serif !important;
}

.active {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.second-nav {
  opacity: 1;
  transition: opacity 0.15s linear;
}

/*.search-btn {
  position:relative;
  display: flex;
  text-align: right;
}*/

.news-title {
  color: #333333
}

.news-container:hover .news-title {
  text-decoration: underline;
}

.date-author {
  color: #555555;
  font-size: 13px;
}

.news-content {
  color: #444444
}

.pop-title {
  font-size: 13px;
  overflow: hidden;
}

.page-content {
  padding-left: 30px;
  padding-right: 30px
}

.pop-img {
  float: left;
  padding-right: 10px;
  width: 100px

}

@media only screen and (min-width: 991.98px) {
  .page-content {
  padding-left: 100px;
  padding-right: 100px
  }

  .navbar {
    padding-right: 40px;
    padding-left: 40px
  }

  .news-card {
    width: 30rem
  }

  .pop-news {
    padding-top: 400px
  }

  .selected-news-img {
    width: 35rem !important;
  }
}  