

.search-bar {
  width: 100%
}

.active {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.second-nav {
  opacity: 1;
  transition: opacity 0.15s linear;
}

.news-title {
  color: #333333
}

.news-container:hover .news-title {
  text-decoration: underline;
}

.date-author {
  color: #555555;
  font-size: 13px;
}

.news-content {
  color: #444444
}

.pop-title {
  font-size: 13px
}

.page-content {
  padding-left: 50px;
  padding-right: 50px
}